<section style="width: 100vw; padding: 0 5%;">
    <article>
        <h1>404 Errors:</h1>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error %></li>
            <% }) %>
        </ul>
    </article>
    <article>
        <h1>Lapas</h1>
        <table>
            <thead>
                <tr>
                    <th>Nosaukums</th>
                    <th>Skatījumu skaits</th>
                    <th>Skatījumu izmaiņas</th>
                    <th>Atjaunota</th>
                </tr>
            </thead>
            <tbody>
                <% pages.forEach(page => { %>
                    <tr>
                        <td><%= page.title %></td>
                        <td><%= page.views %></td>
                        <td><%= page.viewChanges %></td>
                        <td><%= page.lastUpdated %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </article>
    <footer>
        <h3>Server last updated: <%= ServerUpdateDate %></h3>
    </footer>
</section>
