<!DOCTYPE html>
<html lang="lv" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="description" content="Jēkabpils Valsts ģimnāzija - mācību iespējas, skolotāju saraksts, skolēnu informācija.">
  <meta name="keywords" content="Jēkabpils, Valsts ģimnāzija, mācības, skolotāji, skolēni">
  <link rel="icon" type="image/x-icon" href="/public/files/images/logo.webp">
  <link rel="apple-touch-icon" href="/public/files/images/logo.webp">
  <title>JVĢ</title>
  <!-- SCRIPTS -->
  <script src="/public/js/index.js"></script>
  <script src="https://kit.fontawesome.com/74e30751de.js" crossorigin="anonymous"></script>
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Lightbox CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
  <!-- Lightbox JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  <script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'disableScrolling': true
    })
  </script>
  <!-- Pico CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <!-- STYLES -->
  <link rel="stylesheet" href="/public/css/color.css">
  <link href="/public/css/main.css" rel="stylesheet" />
</head>
<body>
  <nav>
    <ul>
      <a id="Logo" href="/">
        <img src="/public/files/images/logo.webp" alt="Jēkabpils Valsts ģimnāzija Logo" />
        <hgroup>
          <h3>Jēkabpils</h3>
          <p><small>Valsts ģimnāzija</small></p>
        </hgroup>
      </a>
    </ul>
    <ul>
      <li><button onclick="PhoneMenu()" id="PhoneMenu" class="fa-solid fa-bars" aria-label="Toggle Menu"></button></li>
    </ul>
    <ul id="Menu">
      <li><a href="/parskolu" data-page="parskolu">Par skolu</a></li>
      <li><a href="/zinas" data-page="zinas">Ziņas</a></li>
      <li><a href="/macibas" data-page="macibas">Mācībām</a></li>
      <li><a href="/darbinieki" data-page="darbinieki">Darbinieki</a></li>
      <li><a href="/skoleniem" data-page="skoleniem">Skolēniem</a></li>
    </ul>
  </nav>
  <div id="Content">
    <main class="container">
      <% if (typeof blogs !== 'undefined') { %>
        <% 
          const blogsByMonth = blogs.reduce((acc, blog) => {
            const monthYear = new Date(blog.Date).toLocaleString('lv-LV', { month: 'long', year: 'numeric' });
            if (!acc[monthYear]) acc[monthYear] = [];
            acc[monthYear].push(blog);
            return acc;
          }, {});

          for (let month in blogsByMonth) { 
        %>
          <article>
            <h2><%= month %></h2>
            <ul>
              <% blogsByMonth[month].forEach(blog => { %>
                <li>
                  <a href="/zinas/<%= blog._id %>"><%= blog.Title %></a>
                  <span class="tag" data-tag="<%= blog.Type %>"><%= blog.Type %></span>
                  <span class="tag" data-tag="Author"><%= blog.Author %></span>
                </li>
              <% }); %>
            </ul>
          </article>
        <% } %>
      <% }else{%>
        <article>
            <h2><%= blog.Title %></h2>
            <hr>
            <div><%- blog.Text %></div>
            <hr>
            <p4>Publicēts: <time datetime="<%= blog.Date %>"><%= blog.Date.toLocaleString('lv-LV',{ year: 'numeric', month: 'long', day: 'numeric', weekday: 'long' })%></time></p4>
            <br>
            <p4>Autors: <%= blog.Author%></p4>
          </article>
      <% } %>
    </main>
  </div>
  <a href="#Logo" id="Up" class="fa-solid fa-circle-up" aria-label="Go to Top"></a>
  <footer class="grid">
    <div>
      <h3>Autortiesības</h3>
      <p>&copy; 2024</p>
    </div>
    <div>
      <h3>Kontakt informācija</h3>
      <p><i class="fa fa-envelope"></i> jvg@edu.jekabpils.lv</p>
      <p><i class="fa fa-phone"></i> +371 65237551</p>
      <a target="_blank" href="https://maps.app.goo.gl/1eHQD7EJnqK95EgXA"><i class="fa fa-map-marker"></i> Rūdolfa Blaumaņa iela 27, Jēkabpils, Jēkabpils novads, LV-5201</a>
    </div>
    <div>
      <h3>Sociālie mēdiji</h3>
      <a style="font-size: 30px; padding: 5px;" target="_blank" href="https://www.facebook.com/jekabpilsvg/" class="fa-brands fa-facebook"></a>
      <a style="font-size: 30px; padding: 5px;" target="_blank" href="https://twitter.com/JekabpilsVG" class="fa-brands fa-twitter"></a>
      <a style="font-size: 30px; padding: 5px;" target="_blank" href="https://www.instagram.com/jvg_parlaments/" class="fa-brands fa-instagram"></a>
    </div>
  </footer>
</body>
</html>